.main_header{display:block;width:100%;height:61px;border-bottom:1px solid rgb(30,52,66);}
.main_header_div{display:block;width:1190px;height:60px;position:relative;margin:0 auto;}
.main_logo{display:block;width:200px;height:60px;}
.main_nav{display:block;width:80px;height:40px;line-height:40px;margin-top:15px;text-align:center;color:#666;}
.main_nav:hover{color:rgb(63,129,215)}
.main_nav_sel{color:rgb(63,129,215)}
.nav_icon1{display:block;background-image:url(../images/nav_icon2.png);width:50px;height:50px;margin-top:10px;}
.nav_icon2{display:block;background-image:url(../images/nav_icon1.png);width:50px;height:50px;background-position:-50px 0px;margin-top:10px;}
.main_phone{display:block;height:50px;line-height:50px;margin-top:10px;color:#999;}
.main_login{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}
.main_sep{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215);margin-left:2px;margin-right:2px;}
.main_reg{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}

.list_bkg{display:block;width:1190px;min-height:20px;position:relative;margin:0 auto;padding-top:20px;padding-bottom:20px;}
.list_left{display:block;width:160px;min-height:20px;}
.btn{display:block;width:70px;height:30px;line-height:30px;text-align:center;border:1px solid rgb(245,161,27);color:rgb(245,161,27);}
.btn_sel{color:#fff;background-color:rgb(245,161,27)}
.btn_search{display:block;width:70px;height:30px;line-height:30px;text-align:center;border:1px solid rgb(245,161,27);color:#fff;background-color:rgb(245,161,27);margin-top:20px;margin-right:10px;}
.list_right{display:block;width:950px;min-height:20px;}

.nav_panel{display:block;height:40px;line-height:40px;position:relative;left:40%;margin-left:-200px;}
.list_page{display:block;width:38px;height:38px;line-height:38px;border:1px solid rgb(220,220,220);text-align:center;color:rgb(67,67,67)}
.list_page_sel{color:#fff;background-color:rgb(67,67,67)}
.list_page_selp{color:#fff;background-color:rgb(67,67,67)}
.sel_order{display:block;height:35px;line-height:40px;width:60px;margin-left:20px;}
.list_node{display:block;width:950px;height:286px;min-height:20px;}
.list_node_header{display:block;width:950px;background-color:rgb(21,63,101);height:40px;line-height:40px;}
.list_node_body{display:block;height:250px;border:1px solid rgb(168,168,168);width:950px;border-top-width:0px;}
.list_node_name{display:block;height:40px;line-height:40px;margin-left:40px;color:#fff;}
.list_node_address{display:block;height:30px;line-height:30px;margin-left:10px;margin-top:6px;color:#fff;}
.btn_star{display:block;width:34px;height:34px;background-image:url(../res/images/star.png);margin-right:30px;}
.btn_star_sel{background-position:-34px 0px}
.list_node_img{display:block;width:365px;height:228px;margin-left:13px;margin-top:8px;}
.list_node_middle{display:block;width:345px;height:228px;margin-left:20px;margin-top:20px;}
.list_node_inner_name{display:block;width:320px;height:20px;line-height:20px;border-bottom:1px solid #999;}
.list_node_desc{display:block;width:320px;line-height:20px;margin-top:8px;}
.list_node_tag_div{display:block;width:320px;margin-top:20px;}
.list_node_tag{display:block;height:15px;background-color:rgb(254,254,242);line-height:15px;padding:2px;margin-right:11px;margin-bottom:10px;}
.list_node_logo{display:block;width:120px;}
.list_node_right{display:block;width:137px;height:228px;margin-left:20px;margin-top:20px;}
.list_node_inner_lab{display:block;width:140px;height:20px;line-height:20px;border-bottom:1px solid #999;}
.list_node_title{display:block;height:25px;line-height:25px;color:#000}
.list_node_val{display:block;height:25px;line-height:25px;color:#000;margin-right:20px;text-align:right;}
