body{margin:0 auto;}
.main_header{display:block;width:100%;height:61px;border-bottom:1px solid rgb(30,52,66);}
/* .main_header_div{display:block;width:1190px;height:60px;position:relative;left:50%;margin-left:-585px;} */
.main_header_div{display:block;width:1190px;height:60px;position:relative;margin:0px auto;}
.main_logo{display:block;width:202px;height:60px;}
.main_nav{display:block;width:80px;height:40px;line-height:40px;margin-top:15px;text-align:center;color:#666;}
.main_nav:hover{color:rgb(63,129,215)}
.main_nav_sel{color:rgb(63,129,215)}
.nav_icon1{display:block;background-image:url(../images/nav_icon2.png);width:50px;height:50px;margin-top:10px;}
.nav_icon2{display:block;background-image:url(../images/nav_icon1.png);width:50px;height:50px;background-position:-50px 0px;margin-top:10px;}
.main_phone{display:block;height:50px;line-height:50px;margin-top:10px;color:#999;}
.main_login{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}
.main_sep{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215);margin-left:2px;margin-right:2px;}
.main_reg{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}

.map_bkg{display:block;width:1190px;min-height:20px;-padding-top:20px;-padding-bottom:20px;position:relative;margin:0 auto;}
.div1{display:block;height:40px;width:350px;/* background-image:url(../res/images/bkg.png) */}
.sel_type{display:block;height:30px;width:108px;margin-top:5px;margin-left:2px;}
.sel_price{display:block;height:40px;width:100px;padding-left:10px;padding-right:10px;color:#000;line-height:40px;}

.div2{display:block;height:40px;-width:840px;background-color:rgb(199,213,226)}
.inp{display:block;height:30px;padding:0px;border:0px solid #000;margin-top:5px;padding-left:5px;margin-left:25px;width:260px;}
.btn_search{display:block;margin-left:5px;height:40px;line-height:40px;color:rgb(24,61,103)}
.btn{display:block;width:70px;height:30px;line-height:30px;margin-top:5px;text-align:center;border:1px solid rgb(245,161,27);color:rgb(245,161,27);background-color:#fff;}
.btn_sel{color:#fff;background-color:rgb(245,161,27)}
.sel{display:block;height:30px;width:90px;margin-right:5px;margin-top:5px;}

.div3{display:block;min-height:40px;width:350px;}
.div_node{display:block;width:348px;border:1px solid rgb(170,170,170);height:140px;}
.node_address{display:block;width:330px;height:5px;margin-left:9px;margin-top:10px;color:#000;}
.node_img{display:block;width:110px;margin-left:9px;margin-top:18px;}
.node_right{display:block;width:200px;height:110px;border-top:1px solid rgb(227,227,227);margin-left:10px;margin-top:9px;width:180px;}
.node_name{display:block;width:200px;color:#000;height:20px;line-height:20px;}
.node_title{display:block;color:#000;height:18px;line-height:18px;}
.node_val{display:block;color:#000;height:18px;line-height:18px;margin-right:40px;text-align:right;}

.div4{display:block;-min-height:840px;width:840px;background-color:#999;}
