.main_header{display:block;width:100%;height:60px;}
.main_header_div{display:block;width:1190px;height:60px;position:relative;margin:0 auto;}
.main_logo{display:block;width:202px;height:59px;}
.main_nav{display:block;width:80px;height:40px;line-height:40px;margin-top:15px;text-align:center;color:#666;}
.main_nav:hover{color:rgb(63,129,215)}
.main_nav_sel{color:rgb(63,129,215)}
.nav_icon1{display:block;background-image:url(../images/nav_icon.jpg);width:50px;height:49px;margin-top:10px;}
.nav_icon2{display:block;background-image:url(../images/nav_icon.jpg);width:50px;height:49px;background-position:-50px 0px;margin-top:10px;}
.main_phone{display:block;height:50px;line-height:50px;margin-top:10px;color:#999;}
.main_login{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}
.main_sep{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215);margin-left:2px;margin-right:2px;}
.main_reg{display:block;height:50px;line-height:50px;margin-top:10px;color:rgb(63,129,215)}
.bkg{display:block;width:100%;min-height:10px;}
.p_header{display:block;width:990px;position:relative;left:50%;margin-left:-495px;}
.p_nav{display:block;width:990px;min-height:32px;position:relative;margin:0 auto;}
.p_nav_btn{display:block;width:107px;height:30px;line-height:30px;text-align:center;color:rgb(21,63,101);background-color:rgb(207,219,231);margin-top:1px;}
.p_nav_btn_sel{background-color:rgb(21,63,101);color:rgb(206,202,94)}
.p_nav_line{display:block;width:1px;height:30px;background-color:rgb(180,189,198);margin-top:1px;}

.bkg2{display:block;width:100%;/* background-image:url(../images/bkg2.jpg); */height:450px;}
.p_intro{display:block;width:990px;min-height:20px;position:relative;-left:50%;-margin-left:-495px;margin:0 auto;}
.p_img_big{display:block;width:720px;height:450px;}
.p_img_nav{display:block;width:260px;height:450px;background-color:#fff;}
.p_img_sml{display:block;width:230px;margin-left:15px;margin-top:10px;height:140px;}

.bkg3{display:block;-width:100%;mwidth:990px;margin-left: 180px;background-color: white;in-height:10px;border-top:15px solid rgb(233,242,249)}
.p_panel{display:block;width:990px;min-height:10px;position:relative;-left:50%;-margin-left:-495px;margin:0 auto;}
.p_panel_left{display:block;width:50%;padding-bottom:10px;padding-top:10px;font-weight:bold;}
.p_lab{display:block;height:30px;line-height:30px;color:#000;margin-left:20px;}
.p_btn_get{display:block;width:118px;height:34px;background-image:url(../images/btn_get.jpg);margin-left:80px;margin-top:-5px;}
.p_btn_return{display:block;width:420px;height:78px;background-image:url(../images/btn_big.jpg);text-align:center;line-height:78px;color:#fff;font-size:35px;font-weight:bold;margin-top:20px;margin-right:40px;}
.p_btn_submit{display:block;width:115px;height:25px;background-color:rgb(245,161,27);text-align:center;line-height:25px;color:#fff;font-size:15px;margin-top:10px;margin-left:70px}

.p_panel_1{display:block;width:360px;min-height:10px;padding-top:10px;padding-bottom:10px;}
.p_panel_title{display:block;width:340px;margin-left:20px;height:30px;line-height:30px;border-bottom:1px solid rgb(238,238,238);color:#333;}
.p_panel_con{display:block;margin-left:20px;height:25px;line-height:25px;color:#333;}
.p_panel_title2{display:block;width:360px;height:30px;line-height:30px;border-bottom:1px solid rgb(238,238,238);color:#333;}
.p_panel_con2{display:block;height:20px;line-height:20px;color:#333;}
.p_panel_logo{display:block;width:168px;margin-top:20px;}
.p_panel_intro{display:block;width:340px;line-height:20px;color:#333;margin-top:20px;}
.p_panel_2{display:block;width:270px;min-height:10px;padding-top:10px;padding-bottom:10px;background-color:rgb(238,238,238);min-height:10px;}
.p_panel_lab{display:block;color:#000;}
.p_inp{display:block;width:200px;height:30px;border:1px solid rgb(238,238,238);margin-left:30px;padding:5px}
.p_txt{display:block;width:200px;height:30px;border:1px solid rgb(238,238,238);margin-left:30px;padding:5px;resize:none;font-size:11px;height:120px}

.p_panel_3{display:block;width:720px;min-height:10px;padding-top:10px;padding-bottom:10px;}
.p_panel_title3{display:block;width:600px;margin-left:20px;height:30px;line-height:30px;border-bottom:1px solid rgb(238,238,238);color:#333;}
.p_panel_name{display:block;margin-left:20px;margin-top:20px;font-size:30px;color:#333;}
.p_panel_content{display:block;width:680px;margin-left:20px;line-height:25px;color:#333;margin-top:10px;}
.p_adv{display:block;width:270px;height:218px;}
.p_adv2{display:block;width:270px;height:428px;}

.p_panel_title4{display:block;width:950px;height:40px;margin-left:20px;line-height:30px;border-bottom:1px solid rgb(238,238,238);color:#333;padding-top:10px;}
.p_struct_node{display:block;width:950px;margin-left:20px;5px;height:50px;background-color:rgb(238,238,238);margin-top:5px;}
.p_struct_name{display:block;width:200px;margin-left:10px;height:50px;line-height:50px;color:#333;}
.p_struct_attr{display:block;width:90px;height:40px;margin-top:5px;}
.attr1{display:block;-width:40px;width:70px;margin-left:25px;height:15px;line-height:16px;color:#333;background-color:#fff;border-radius:3px;text-align:center;margin-top:3px;}
.attr2{display:block;-width:90px;width:120px;text-align:center;height:15px;line-height:15px;color:#333;margin-top:5px;}
.p_struct_attr2{display:block;width:150px;height:40px;margin-top:5px;}
.attr3{display:block;width:100px;margin-left:25px;height:15px;line-height:16px;color:#333;background-color:#fff;border-radius:3px;text-align:center;margin-top:3px;}
.attr4{display:block;width:150px;text-align:center;height:15px;line-height:15px;color:#333;margin-top:5px;}
.btn_get_struct{display:block;width:164px;margin-left:25px;margin-top:13px;}
.btn_price{display:block;width:120px;height:34px;background-image:url(../images/btn_price.jpg);margin-right:50px;margin-top:10px;}
.btn_full{display:block;width:120px;height:34px;background-image:url(../images/btn_full.jpg);margin-right:20px;margin-top:10px;-background-position:-110px 0px;}
.p_update{display:block;margin-top:5px;padding-bottom:10px;color:#333;margin-right:20px;font-size:11px;}
.bkg4 .p_panel_4{ background-color:rgb(169,193,217);height: 316px;}
.p_panel_4{ display:block;width:990px;min-height:20px;position:relative;-left:50%;-margin-left:-495px;padding-top:10px;padding-bottom:10px;margin:0 auto;}
.p_panel_4 .p_left{font-weight:bold;}
.p_panel_4 .p_right{font-weight:bold;}
.p_panel_4 .p_right_bottom{font-weight:bold;}

.p_map{display:block;width:490px;height:490px;background-color:red;}
.p_real_time{display:block;width:490px;height:490px;background-color:blue;}

.p_left{display:block;width:455px;margin-left:20px;}
.icon_walk{display:block;width:140px;position:relative;left:50%;margin-left:-70px;margin-top:20px;}
.walk_lab{display:block;width:455px;text-align:center;color:#333;font-weight:bold;}
.p_school_node{display:block;width:455px;height:65px;margin-top:10px;}
.p_school_inner{display:block;width:455px;height:40px;background-color:rgb(194,204,213);}
.p_school_lab{display:block;margin-left:10px;height:40px;line-height:40px;color:#333;}
.p_school_distance{display:block;margin-left:10px;height:25px;line-height:25px;color:#333;}
.p_right{display:block;width:455px;background-color:rgb(239,239,241);min-height:10px;margin-left:10px;}
.score_board{display:block;width:420px;height:198px;position:relative;left:50%;margin-left:-210px;}
.p_right_bottom{display:block;width:455px;min-height:10px;margin-left:10px;}

.bkg4{display:block;width:100%;min-height:10px;border-top:15px solid rgb(233,242,249);}
.que_title{display:block;font-size:28px;color:#fff;margin-left:20px;margin-top:20px;}
.que_title2{display:block;font-size:28px;color:#fff;margin-left:20px;width:950px;border-bottom:1px solid #fff;}
.que_icon{display:block;font-size:85px;color:#fff;margin-left:40px;margin-top:10px;}
.que_div{display:block;width:700px;min-height:20px;margin-top:10px;}
.que_lab{display:block;width:200px;color:#fff;}
.que_inp{display:block;width:180px;margin-right:20px;margin-top:10px;height:30px;line-height:30px;margin-bottom:10px;}
.que_inner{display:block;width:260px;height:40px;line-height:40px;background-color:rgb(131,171,217);border:1px solid #999}
.que_inner_lab{display:block;margin-left:10px;color:#fff;height:40px;line-height:40px;}
.que_inner_inp{display:block;height:26px;margin-top:7px;margin-left:5px;width:180px;}
.que_inner2{display:block;width:300px;height:40px;line-height:40px;background-color:rgb(131,171,217);border:1px solid #999;margin-left:20px;}

.p_inves_name{display:block;width:990px;text-align:center;color:#000;margin-top:20px;}
.p_inves_div{display:block;width:165px;min-height:10px;}
.p_inves_lab{display:block;width:165px;text-align:center;color:#333;margin-top:20px;}
.p_inves_source{display:block;text-align:center;color:#333;margin-top:20px;margin-right:20px;margin-top:20px;}
.middle_bkg{display:block;width:990px;height:210px;background-image:url(../images/middle.jpg)}
.middle_lab1{display:block;width:280px;margin-left:145px;margin-top:160px;text-align:center;color:rgb(234,137,4);font-size:25px;}
.middle_lab2{display:block;width:280px;margin-left:150px;margin-top:160px;text-align:center;color:rgb(21,63,101);font-size:25px;}
.middle_inner{display:block;width:120px;height:100px;background-color:rgb(238,238,238);border:1px solid rgb(224,224,224)}
.middle_lab3{display:block;width:120px;text-align:center;color:rgb(235,137,4);margin-top:30px;}

.p_header2{display:block;height:50px;padding-left:20px;padding-right:20px;width:100%;background-color:rgb(169,193,217);color:#333;line-height:50px;}
.table_h{display:block;height:25px;line-height:25px;text-align:center;color:#333;background-color:#fff;border-bottom:1px solid rgb(168,193,217)}
.table_c_odd{display:block;height:25px;line-height:25px;text-align:center;color:#333;background-color:rgb(224,238,251);}
.table_c_even{display:block;height:25px;line-height:25px;text-align:center;color:#333;background-color:#fff;}
.table_footer{display:block;border-top:1px solid rgb(168,193,217);background-color:rgb(233,242,249);height:20px;width:990px;}
.p_left2{display:block;width:710px;min-height:10px;}
.p_spec{display:block;width:335px;margin-left:20px;height:20px;line-height:20px;color:#333;}
.p_header3{display:block;height:65px;padding-left:20px;padding-right:20px;width:100%;background-color:rgb(169,193,217);color:#333;line-height:50px;margin-top:20px;}
.p_tab2{display:block;width:710px;min-height:20px;}
.p_tab2 table{margin-bottom:0px !important;}
.p_family{display:block;width:186px;height:184px;background-image:url(../images/icon_family.jpg)}
.p_family2{display:block;width:186px;height:184px;background-image:url(../images/icon_family.jpg);background-position:-186px 0px}
.p_family3{display:block;width:186px;height:184px;background-image:url(../images/icon_family.jpg);background-position:-372px 0px}
.family_lab{display:block;width:186px;margin-top:140px;text-align:center;color:#333;}
.p_panel_5{display:block;width:100%;min-height:20px;padding-top:10px;padding-bottom:10px;}
.p_inner{display:block;width:990px;min-height:20px;position:relative;-left:50%;-margin-left:-495px;background-color:rgb(169,193,217);margin:0 auto;}

.p_news_node{display:block;width:315px;min-height:10px;}
.p_news_node .p_foot{width:100%; display:block;}
.news_img{display:block;width:315px;}
.news_title{display:block;width:100%;height:30px;line-height:30px;color:#000;padding-left:20px;padding-right:20px;background-color:#fff;}
.news_type{display:block;width:50%; float:left;height:30px;line-height:30px;color:#000;padding-left:20px;padding-right:20px;background-color:#fff;}
.news_time{display:block;width:50%; float:right;padding-left:20px;height:30px;line-height:30px;color:#000;background-color:#fff;}

.p_left3{display:block;width:280px;margin-left:20px;margin-top:20px;}
.p_ask{display:block;width:130px;color:#fff;font-size:25px;}
.p_right2{display:block;width:640px;padding:20px;min-height:20px;border-left:1px solid #fff;}
.agent_node{display:block;width:600px;background-color:#fff;height:150px;}
.agent_avatar{display:block;width:110px;margin-left:20px;margin-top:20px;}
.agent_name{display:block;margin-left:20px;margin-top:20px;color:#333;width:440px;}
.agent_lab{display:block;margin-left:20px;color:#333;width:440px;}
.icon1{display:block;width:16px;height:32px;background-image:url(../images/icon_building.png);margin-left:20px;}
.icon2{display:block;width:30px;height:32px;background-image:url(../images/icon_building.png);margin-left:5px;background-position:-19px 0px}
.icon3{display:block;width:35px;height:32px;background-image:url(../images/icon_building.png);margin-left:5px;background-position:-53px 0px;}

.p_project_node{display:block;width:300px;min-height:10px;margin-left:20px;}
.project_img{display:block;width:300px;}
.project_desc{display:block;width:100%;padding:5px;min-height:20px;line-height:20px;color:#000;border:1px solid #EFEFEF;margin-top:5px;}

.bottom_bkg{display:block;width:100%;height:260px;background-color:rgb(20,51,82)}
.triangle{width:0px;height:0px;border-top:50px solid #fff;border-left:50px solid transparent;border-bottom:50px solid transparent;border-right:50px solid transparent;position:relative;left:50%;margin-left:-45px;}
.bottom_lab{display:block;width:100%;text-align:center;font-size:35px;color:#fff;}
.bottom_reg{display:block;width:70px;height:40px;background-color:rgb(214,37,65);color:#fff;font-size:30px;line-height:40px;text-align:center;position:relative;left:50%;margin-left:-35px;top:20px;}
.bkg3 a:hover{
	text-decoration:none;
}
.p_panel_content{
	text-align:left;
	text-indent:2em;
}
.my_center{
	margin-left:300px;
	margin-top:50px;
    
}
.p_panel_3{
	/* text-align:center; */
}
.bgc{
	background:#fff;
}

