@charset "utf-8";
/*默认样式及公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0}

/* ad_position */
.ad_position{

    position:relative;

    /* overflow:hidden; */

    margin:40px auto 0 auto;
    margin-left:40px;
}
.limit{height:246px;width:663px;margin:27px 1px 4px -19px;overflow:hidden;}
.ad_left_big{width:720px;border-collapse:collapse;float:left;display:inline;}
.ad_small_box{float:left;width:224px;height:487px;overflow:hidden;display:inline;}
.ad_small_box ul{margin:0px 0px 0px 10px;list-style:none inside none;padding:0px;*margin-left:-6px;}
.ad_small_box ul li{width:224px;height:140px;margin-bottom:-3px;overflow:hidden;cursor:pointer;}
.ad_small_box ul li img{

    width:210px;height:140px;border:#c5c5c5 1px solid;

}
.ad_small_box .this_ad{position:absolute;top:0px;left:0px;cursor:pointer;width:224px;height:160px;margin-top:0px;}
.ad_small_box .top_button{width:224px;height:14px;margin-left:9px;overflow:hidden;cursor:pointer;background:url(../images/top_button.gif)   no-repeat;  }
.ad_small_box .bottom_button{width:224px;height:14px;margin-top:29px;margin-left:9px;overflow:hidden;cursor:pointer;background:url(../images/bottom_button.gif)  no-repeat; }
.ad_small_box .off{background-position:50% -14px;cursor:auto;}
.ad_small_box .small_right_limit{height:418px;padding:3px 0px;overflow:hidden;position:relative;}
